@import url(https://fonts.googleapis.com/css?family=Cormorant+Infant:300italic,italic,600italic,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:regular,700);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #737373;
  line-height: 1;
  font-family: "PT Sans", sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "PT Sans", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #F2F2F2;
}
.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 71.25rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.button {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.7142857143;
  text-transform: uppercase;
  color: #48974c;
  border: 1px solid #48974c;
  min-height: 3.5rem;
  min-width: 9.8125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.9375rem 1.25rem;
  transition: background-color 0.2s ease, color 0.2s ease;
}
.button_green {
  display: inline-flex;
  color: #fff;
  background-color: #48974c;
}
.button_green span {
  display: inline-flex;
  align-items: center;
  column-gap: 0.1875rem;
}
.button_green span::after {
  content: "";
  border-right: 2px solid #fff;
  border-top: 2px solid #fff;
  padding: 0.25rem;
  transform: rotate(45deg);
  border-radius: 0.03125rem;
  transition: border-color 0.2s ease;
}
@media (any-hover: hover) {
  .button:hover {
    background-color: #48974c;
    color: #fff;
  }
  .button_green:hover {
    background-color: #fff;
    color: #48974c;
  }
  .button_green:hover span::after {
    border-color: #48974c;
  }
}

.main-title {
  font-family: "Cormorant Infant", sans-serif;
  line-height: 1.2222222222;
  font-weight: 700;
  letter-spacing: 0.01125rem;
}
@media (min-width: 61.99875em) {
  .main-title {
    font-size: 2.25rem;
  }
}
@media (min-width: 20em) and (max-width: 61.99875em) {
  @supports (font-size: clamp( 1.5rem , 1.1428465133rem  +  1.7857674336vw , 2.25rem )) {
    .main-title {
      font-size: clamp( 1.5rem , 1.1428465133rem  +  1.7857674336vw , 2.25rem );
    }
  }
  @supports not (font-size: clamp( 1.5rem , 1.1428465133rem  +  1.7857674336vw , 2.25rem )) {
    .main-title {
      font-size: calc(1.5rem + 0.75 * (100vw - 20rem) / 41.99875);
    }
  }
}
@media (max-width: 20em) {
  .main-title {
    font-size: 1.5rem;
  }
}

.main-subtitle {
  font-family: "Cormorant Infant", sans-serif;
  font-style: italic;
  line-height: 1.5;
  letter-spacing: 0.005rem;
}
@media (max-width: 29.99875em) {
  .main-subtitle {
    font-size: 0.9375rem;
  }
}

.header {
  background-color: #fff;
  padding: 2.1875rem 0 1.125rem;
}
@media (max-width: 47.99875em) and (min-width: 47.99875em) {
  .header {
    padding-top: 2.1875rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 47.99875em) {
  @supports (padding-top: clamp( 1.25rem , 0.5803272468rem  +  3.3483637662vw , 2.1875rem )) {
    .header {
      padding-top: clamp( 1.25rem , 0.5803272468rem  +  3.3483637662vw , 2.1875rem );
    }
  }
  @supports not (padding-top: clamp( 1.25rem , 0.5803272468rem  +  3.3483637662vw , 2.1875rem )) {
    .header {
      padding-top: calc(1.25rem + 0.9375 * (100vw - 20rem) / 27.99875);
    }
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .header {
    padding-top: 1.25rem;
  }
}
.top-header {
  text-align: center;
  border-bottom: 1px solid #e6e6e6;
}
@media (min-width: 73.125em) {
  .top-header {
    padding-bottom: 2.8125rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (padding-bottom: clamp( 1.25rem , 0.6617647059rem  +  2.9411764706vw , 2.8125rem )) {
    .top-header {
      padding-bottom: clamp( 1.25rem , 0.6617647059rem  +  2.9411764706vw , 2.8125rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.25rem , 0.6617647059rem  +  2.9411764706vw , 2.8125rem )) {
    .top-header {
      padding-bottom: calc(1.25rem + 1.5625 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .top-header {
    padding-bottom: 1.25rem;
  }
}
.top-header__title {
  color: #262626;
}
.top-header__title:not(:last-child) {
  margin-bottom: 0.4375rem;
}
.menu {
  padding-top: 1.125rem;
  position: relative;
}
.menu__icon {
  margin: 0px auto;
  transition: margin 0.3s ease 0s;
}
.menu-open .menu__icon {
  margin: 0px 0px 0px auto;
}
@media (max-width: 61.99875em) {
  .menu__body {
    position: absolute;
    z-index: 50;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    width: calc(100% + 30px);
    background-color: #fff;
    padding: 30px 0px;
    transition: all 0.3s ease;
  }
  .menu-open .menu__body {
    left: 0;
  }
}
.menu__list {
  display: flex;
}
@media (min-width: 61.99875em) {
  .menu__list {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.625rem 1.5625rem;
  }
}
.menu__list a {
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 0.08px;
  position: relative;
}
.menu__list a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 0;
  height: 1px;
  background-color: #737373;
  transition: width 0.2s ease;
}
@media (any-hover: hover) {
  .menu__list a:hover::before {
    width: 100%;
  }
}
@media (max-width: 61.99875em) {
  .menu__list {
    flex-direction: column;
    row-gap: 1.875rem;
    align-items: center;
  }
}

.current-menu-item a {
  color: #48974c;
}
.current-menu-item a::before {
  background-color: #48974c;
}

.icon-menu {
  display: none;
}
@media (max-width: 61.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 2.5rem;
    height: 0.875rem;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
}

.footer {
  background-color: #404040;
  color: #fff;
  padding-top: 2.8125rem;
}
@media (max-width: 41.87375em) {
  .footer {
    text-align: center;
    padding-top: 1.875rem;
  }
}
.footer__row {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr;
  gap: 1.875rem;
}
.footer__row:not(:last-child) {
  margin-bottom: 3.75rem;
}
@media (max-width: 61.99875em) {
  .footer__row {
    grid-template-columns: 1.2fr 0.8fr;
  }
}
@media (max-width: 41.87375em) {
  .footer__row {
    grid-template-columns: 1fr;
  }
  .footer__row:not(:last-child) {
    margin-bottom: 2.8125rem;
  }
}
@media (max-width: 29.99875em) {
  .footer__row:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}
@media (max-width: 61.99875em) and (min-width: 41.87375em) {
  .footer__column_flex {
    grid-column: span 2;
    display: flex;
  }
}
.footer__title:not(:last-child) {
  margin-bottom: 0.625rem;
}
.footer__list li:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.footer__list li a {
  text-transform: uppercase;
  letter-spacing: 0.08px;
  transition: color 0.2s ease;
}
@media (any-hover: hover) {
  .footer__list li a:hover {
    color: #48974c;
  }
}
@media (min-width: 61.99875em) {
  .footer__list-social:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 41.87375em) {
  .footer__list-social:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}
.footer__counter {
  max-width: 5.5rem;
  margin-left: auto;
}
.footer__counter img {
  max-width: 100%;
  width: 100%;
}
@media (max-width: 41.87375em) {
  .footer__counter {
    margin: 0px auto;
  }
}
.footer__bottom {
  padding: 0.9375rem 0;
  border-top: 1px solid #808080;
}
.footer__copy {
  font-size: 0.875rem;
  line-height: 1.4285714286;
  color: #999;
  letter-spacing: 0.14px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem 1.5625rem;
  align-items: center;
}
@media (min-width: 41.87375em) {
  .social-list {
    justify-content: flex-end;
  }
}
.social-list li a svg path {
  transition: fill 0.23s ease;
}
@media (any-hover: hover) {
  .social-list li a:hover svg path {
    fill: #48974c;
  }
}
@media (max-width: 41.87375em) {
  .social-list {
    justify-content: center;
  }
}

.page__mainscreen {
  margin-bottom: 1.875rem;
}
.page__blog {
  margin-bottom: 1.875rem;
}
@media (min-width: 73.125em) {
  .page__construction {
    margin-bottom: 4.375rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (margin-bottom: clamp( 1.875rem , 0.9338235294rem  +  4.7058823529vw , 4.375rem )) {
    .page__construction {
      margin-bottom: clamp( 1.875rem , 0.9338235294rem  +  4.7058823529vw , 4.375rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.875rem , 0.9338235294rem  +  4.7058823529vw , 4.375rem )) {
    .page__construction {
      margin-bottom: calc(1.875rem + 2.5 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .page__construction {
    margin-bottom: 1.875rem;
  }
}
@media (min-width: 73.125em) {
  .page__info-block {
    margin-bottom: 4.375rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (margin-bottom: clamp( 1.875rem , 0.9338235294rem  +  4.7058823529vw , 4.375rem )) {
    .page__info-block {
      margin-bottom: clamp( 1.875rem , 0.9338235294rem  +  4.7058823529vw , 4.375rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.875rem , 0.9338235294rem  +  4.7058823529vw , 4.375rem )) {
    .page__info-block {
      margin-bottom: calc(1.875rem + 2.5 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .page__info-block {
    margin-bottom: 1.875rem;
  }
}

.mainscreen {
  position: relative;
}
@media (min-width: 61.99875em) {
  .mainscreen {
    min-height: 36.25rem;
  }
}
.mainscreen__backgroung-ibg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.mainscreen__backgroung-ibg img {
  object-position: top;
}
@media (max-width: 61.99875em) {
  .mainscreen__backgroung-ibg img {
    object-position: 59% top;
  }
}
@media (max-width: 29.99875em) {
  .mainscreen__backgroung-ibg img {
    object-position: 65% top;
  }
}
.mainscreen__container {
  position: relative;
}
.mainscreen__content {
  padding: 5rem 0;
}
.mainscreen__info-block {
  background-color: rgba(255, 255, 255, 0.95);
  max-width: 34.6875rem;
  color: #404040;
}
@media (min-width: 73.125em) {
  .mainscreen__info-block {
    padding: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (padding: clamp( 1.25rem , 0.7794117647rem  +  2.3529411765vw , 2.5rem )) {
    .mainscreen__info-block {
      padding: clamp( 1.25rem , 0.7794117647rem  +  2.3529411765vw , 2.5rem );
    }
  }
  @supports not (padding: clamp( 1.25rem , 0.7794117647rem  +  2.3529411765vw , 2.5rem )) {
    .mainscreen__info-block {
      padding: calc(1.25rem + 1.25 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .mainscreen__info-block {
    padding: 1.25rem;
  }
}
.mainscreen__label {
  font-family: "Cormorant Infant", sans-serif;
  font-weight: 700;
  letter-spacing: 0.3px;
  max-width: 26.25rem;
}
@media (min-width: 36.125em) {
  .mainscreen__label {
    font-size: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 36.125em) {
  @supports (font-size: clamp( 2.25rem , 0.3895348837rem  +  9.3023255814vw , 3.75rem )) {
    .mainscreen__label {
      font-size: clamp( 2.25rem , 0.3895348837rem  +  9.3023255814vw , 3.75rem );
    }
  }
  @supports not (font-size: clamp( 2.25rem , 0.3895348837rem  +  9.3023255814vw , 3.75rem )) {
    .mainscreen__label {
      font-size: calc(2.25rem + 1.5 * (100vw - 20rem) / 16.125);
    }
  }
}
@media (max-width: 20em) {
  .mainscreen__label {
    font-size: 2.25rem;
  }
}
.mainscreen__label:not(:last-child) {
  margin-bottom: 1.25rem;
}
.mainscreen__text {
  font-size: 1.125rem;
  line-height: 1.5555555556;
  letter-spacing: 0.09px;
}
@media (max-width: 47.99875em) {
  .mainscreen__text {
    font-size: 1.0625rem;
  }
}
@media (max-width: 29.99875em) {
  .mainscreen__text {
    font-size: 1rem;
  }
}

@media (min-width: 53.12375em) {
  .blog__content-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.875rem;
  }
}
.blog__content-block:not(:last-child) {
  margin-bottom: 1.875rem;
}
@media (max-width: 61.99875em) and (min-width: 53.12375em) {
  .blog__content-block {
    gap: 1.25rem;
    grid-template-columns: 23.4375rem 1fr;
  }
}
@media (max-width: 29.99875em) {
  .blog__content-block {
    margin: 0 -0.9375rem;
  }
}
@media (min-width: 53.12375em) {
  .blog__column_big {
    display: flex;
    flex-direction: column;
  }
}
.blog__column_overflow {
  overflow: hidden;
}
@media (max-width: 53.12375em) {
  .blog__column:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
.blog__content-small-card {
  margin: -1px;
}
@media (min-width: 61.99875em) {
  .blog__content-small-card {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
  }
}
.blog__item {
  background-color: #fff;
}
.blog__column_overflow .blog__item {
  flex: 0 1 50%;
  padding: 1.5625rem 1.5625rem 1.25rem;
}
@media (max-width: 61.99875em) {
  .blog__column_overflow .blog__item {
    flex: 0 1 100%;
  }
}
@media (max-width: 29.99875em) {
  .blog__column_overflow .blog__item {
    padding: 1.5625rem 0.9375rem;
  }
}
.blog__column_big .blog__item {
  padding: 1.5625rem;
}
@media (max-width: 29.99875em) {
  .blog__column_big .blog__item {
    padding: 1.5625rem 0.9375rem;
  }
}
@media (min-width: 53.12375em) {
  .blog__item_big {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }
}
.blog__item_big:not(:last-child) {
  margin-bottom: 1.875rem;
}
@media (max-width: 53.12375em) {
  .blog__item_big:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
.blog__item_small {
  border-bottom: 1px solid #e6e6e6;
}
@media (min-width: 53.12375em) {
  .blog__item_small {
    border-right: 1px solid #e6e6e6;
  }
}
@media (max-width: 61.99875em) and (min-width: 29.99875em) {
  .blog__item_small {
    display: flex;
    gap: 0.625rem;
  }
}
@media (min-width: 53.12375em) {
  .blog__item-content {
    flex: 1 1 auto;
  }
}
.blog__item-content:not(:last-child) {
  margin-bottom: 0.4375rem;
}
@media (max-width: 53.12375em) {
  .blog__item-content:not(:last-child) {
    margin-bottom: 0.9375rem;
  }
}
.blog__picture-ibg {
  overflow: hidden;
  display: block;
  margin-bottom: 0.9375rem;
}
.blog__picture-ibg img {
  transition: transform 0.2s ease;
}
.blog__column_big .blog__picture-ibg {
  padding-bottom: 63.5643564356%;
}
@media (min-width: 61.99875em) {
  .blog__column_overflow .blog__picture-ibg {
    padding-bottom: 65.9340659341%;
  }
}
@media (max-width: 61.99875em) and (min-width: 29.99875em) {
  .blog__column_overflow .blog__picture-ibg {
    flex: 0 0 150px;
    height: 100px;
  }
}
@media (max-width: 29.99875em) {
  .blog__column_overflow .blog__picture-ibg {
    padding-bottom: 65.9340659341%;
  }
}
@media (any-hover: hover) {
  .blog__picture-ibg:hover img {
    transform: scale(1.025);
  }
}
.blog__date {
  display: flex;
  align-items: center;
  column-gap: 0.625rem;
  margin-bottom: 1.25rem;
}
.blog__date::before {
  content: "";
  flex: 0 0 0.9375rem;
  height: 1rem;
  background: url("../img/icons/calendar.png") center/cover no-repeat;
}
.blog__title {
  font-family: "Cormorant Infant", sans-serif;
  color: #262626;
  margin-bottom: 0.5rem;
}
.blog__column_big .blog__title {
  font-size: 1.875rem;
  letter-spacing: 0.15px;
}
.blog__column_overflow .blog__title {
  font-size: 1.5rem;
  line-height: 1.0833333333;
  letter-spacing: 0.12px;
}
.blog__text {
  line-height: 1.625;
  letter-spacing: 0.08px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.blog__text:not(:last-child) {
  margin-bottom: 0.625rem;
}
.blog__column_big .blog__text {
  -webkit-line-clamp: 6;
}
@media (max-width: 61.99875em) and (min-width: 53.12375em) {
  .blog__column_big .blog__text {
    -webkit-line-clamp: 10;
  }
}
.blog__column_overflow .blog__text {
  -webkit-line-clamp: 3;
}
.blog__link {
  position: relative;
  display: inline-flex;
  align-items: center;
  column-gap: 0.625rem;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 2;
  color: #48974c;
}
.blog__link::before {
  content: "";
  flex: 0 0 1rem;
  height: 1rem;
  background-color: #48974c;
  border-radius: 50%;
}
.blog__link::after {
  content: "";
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  padding: 0.15625rem;
  position: absolute;
  top: 50%;
  left: 0.1875rem;
  transform: translate(0%, -50%) rotate(45deg);
  border-radius: 0.03125rem;
}
.blog__link span {
  position: relative;
}
.blog__link span::before {
  content: "";
  position: absolute;
  bottom: 0.125rem;
  left: 50%;
  transform: translate(-50%, 0%);
  height: 1px;
  background-color: #48974c;
  transition: width 0.2s ease 0s;
  width: 0;
}
@media (any-hover: hover) {
  .blog__link:hover span::before {
    width: 100%;
  }
}
@media (min-width: 29.99875em) {
  .block-actions-blog {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1.5625rem;
  }
}
@media (max-width: 29.99875em) {
  .block-actions-blog__button:not(:last-child) {
    margin-bottom: 1.5625rem;
  }
}
.block-actions-blog__list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem 1.5625rem;
  align-items: center;
}
.block-actions-blog__list li a svg path {
  transition: fill 0.2s ease;
}
@media (any-hover: hover) {
  .block-actions-blog__list li a:hover svg path {
    fill: #48974c;
  }
}
@media (max-width: 61.99875em) and (min-width: 53.12375em) {
  .block-actions-blog__list {
    gap: 0.625rem 0.9375rem;
  }
}
@media (max-width: 29.99875em) {
  .block-actions-blog__list {
    justify-content: center;
    gap: 0.625rem 2.1875rem;
  }
}
@media (min-width: 47.99875em) {
  .bottom-blog {
    padding: 0 1.5625rem;
  }
}
@media (min-width: 47.99875em) {
  .bottom-blog__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.875rem;
  }
}
@media (max-width: 61.99875em) and (min-width: 53.12375em) {
  .bottom-blog__row {
    grid-template-columns: 21.875rem 1fr;
    gap: 1.25rem;
  }
}
@media (max-width: 53.12375em) and (min-width: 47.99875em) {
  .bottom-blog__row {
    gap: 1.25rem;
  }
}
@media (max-width: 47.99875em) {
  .bottom-blog__row {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    row-gap: 1.25rem;
  }
}
@media (max-width: 29.99875em) {
  .bottom-blog__column {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}
@media (max-width: 29.99875em) {
  .bottom-blog__previously {
    width: 100%;
  }
}
.pagging {
  display: flex;
  align-items: center;
  column-gap: 0.625rem;
}
.pagging ul {
  display: flex;
  align-items: center;
  column-gap: 0.625rem;
}
.pagging ul li a.active {
  background-color: #48974c;
  color: #fff;
}
.pagging__item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 3.5rem;
  height: 3.5rem;
  letter-spacing: 0.16px;
  transition: background-color 0.2s ease, color 0.2s ease;
}
@media (max-width: 29.99875em) {
  .pagging__item {
    width: 2.1875rem;
    height: 2.1875rem;
    font-size: 0.875rem;
  }
}
@media (any-hover: hover) {
  .pagging__item:hover {
    background-color: #48974c;
    color: #fff;
  }
}
.pagging__dots {
  cursor: default;
  display: inline-block;
  transform: translate(0%, -25%);
}
.pagging__arrow {
  color: #595959;
}
.pagging__arrow.disabled {
  color: #b3b3b3;
}
.construction {
  padding: 4.375rem 0;
  position: relative;
  display: flex;
  align-items: flex-end;
}
@media (max-width: 29.99875em) {
  .construction {
    padding: 1.875rem 0;
  }
}
@media (min-width: 61.99875em) {
  .construction {
    min-height: 35rem;
  }
}
@media (min-width: 20em) and (max-width: 61.99875em) {
  @supports (min-height: clamp( 20rem , 12.8569302658rem  +  35.7153486711vw , 35rem )) {
    .construction {
      min-height: clamp( 20rem , 12.8569302658rem  +  35.7153486711vw , 35rem );
    }
  }
  @supports not (min-height: clamp( 20rem , 12.8569302658rem  +  35.7153486711vw , 35rem )) {
    .construction {
      min-height: calc(20rem + 15 * (100vw - 20rem) / 41.99875);
    }
  }
}
@media (max-width: 20em) {
  .construction {
    min-height: 20rem;
  }
}
.construction__backgroung-ibg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.construction__container {
  position: relative;
  flex: 1 1 auto;
}
.construction__content {
  display: flex;
  align-items: flex-end;
  max-width: 25rem;
}
.construction__info-block {
  background-color: rgba(255, 255, 255, 0.95);
}
@media (min-width: 29.99875em) {
  .construction__info-block {
    display: flex;
    align-items: center;
  }
}
.construction__label {
  font-size: 1.125rem;
  letter-spacing: 0.09px;
  color: #262626;
  padding: 1.25rem 3.125rem 1.25rem 1.25rem;
}
@media (max-width: 29.99875em) {
  .construction__label {
    padding: 1.25rem;
  }
}
@media (min-width: 29.99875em) {
  .construction__button {
    align-self: stretch;
  }
}
@media (max-width: 29.99875em) {
  .construction__button {
    width: 100%;
  }
}

.block-info__row {
  font-family: "Cormorant Infant", sans-serif;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 600;
  letter-spacing: 0.12px;
  color: #262626;
  gap: 1.875rem;
}
@media (min-width: 47.99875em) {
  .block-info__row {
    display: grid;
    grid-template-columns: 31.5789473684% 1fr;
  }
}
.block-info__row > * {
  background-color: #fff;
}
@media (max-width: 61.99875em) {
  .block-info__row {
    gap: 1.25rem;
  }
}
@media (max-width: 29.99875em) {
  .block-info__row {
    margin: 0 -0.9375rem;
  }
}
@media (max-width: 47.99875em) {
  .block-info__widget:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
@media (min-width: 71.25em) {
  .widget {
    padding: 2.1875rem;
  }
}
@media (min-width: 47.99875em) and (max-width: 71.25em) {
  @supports (padding: clamp( 0.9375rem , -1.6429392237rem  +  5.3760550508vw , 2.1875rem )) {
    .widget {
      padding: clamp( 0.9375rem , -1.6429392237rem  +  5.3760550508vw , 2.1875rem );
    }
  }
  @supports not (padding: clamp( 0.9375rem , -1.6429392237rem  +  5.3760550508vw , 2.1875rem )) {
    .widget {
      padding: calc(0.9375rem + 1.25 * (100vw - 47.99875rem) / 23.25125);
    }
  }
}
@media (max-width: 47.99875em) {
  .widget {
    padding: 0.9375rem;
  }
}
.widget__name:not(:last-child) {
  margin-bottom: 1.5625rem;
}
.widget__inner {
  display: block;
}
.widget__inner img {
  max-width: 100%;
  width: 100%;
}

.banner-ibg {
  padding-bottom: 36.1333333333%;
}
.banner-ibg span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner-ibg img {
  z-index: 1;
}
